<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script>
        var app=angular.module('usermgnt',[]);
        app.controller("userctrl",function($scope){
            $scope.users=[{'name':"",'email':"",'editing':false},
                            {'name':"",'email':"",'editing':false}]
            $scope.createUser=function(){
                if($scope.newusername && $scope.newuseremail){
                    var u={
                        'name': $scope.newusername,
                        'email': $scope.newuseremail,
                        'editing':false
                    }
                    $scope.users.push(u)
                    $scope.newusername=""
                    $scope.newuseremail=""

                }
                else{
                    alert("please provide the user name and mail id")

                }
            }
            $scope.readuser=function(user){
                user.editing=true
            }
            $scope.updateuser=function(user){
                user.editing=false
            }
            $scope.deleteuser=function(user){
                var yes=confirm("are you sure you want to delete")
                if(yes==true){
                    var index=$scope.users.indexOf(user)
                    $scope.users.splice(index,1)
                }
            }
        });
    </script>
</head>
<body ng-app="usermgnt" ng-controller="userctrl">
    <h1> user management application</h1>
    <div>
        enter the use name :<input type="text" ng-model="newusername">
        enter the user email:<input type="text" ng-model="newuseremail">
        <button ng-click="createUser()">Create</button>
        <br>
        <table border="1">
            <tr>
                <th>SLNO</th>
                <th>name</th>
                <th>email</th>
                <th>read</th>
                <th>update</th>
                <th>delete</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{$index+1}}</td>
                <td>
                    <span ng-show="!users.editing">{{user.name}}</span><input type="text" ng-show="user.editing" ng-model="user.name">
                </td>
                <td>
                    <span ng-show="!users,editing">{{user.email}}</span><input type="text" ng-show="user.editing" ng-model="user.email">
                </td>
                <td><button ng-click="readuser(user)">Read</button></td>
                <td><button ng-click="updateuser(user)">Update</button></td>
                <td><button ng-click="deleteuser(user)">Delete</button></td>
            </tr>
        </table>

    </div>
    
</body>
</html>